* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
  background-color:black;
}

.container {
  width:1000px;
  margin:0 auto;
}

header {
  width:1530px;
  height:80px;
  position:fixed;
  background-color:rgb(128,128,128);
  z-index:10;
}

.header-center {
  width:350px;
  margin:0 auto;
}

.header-center h1 {
  float:left;
  color:black;
}

.header-right {
  float:right;
  padding-right:50px;
}

.header-right a {
  display:inline-block;
  text-align:center;
  line-height:80px;
  background-color:rgb(192,192,192);
  color:black;
  padding:0 30px;
}

.header-right a:hover {
  opacity:0.5;
}

.header-left {
  float:left;
  padding-left:50px;
}


.header-left a {
  display:inline-block;
  text-align:center;
  line-height:80px;
  background-color:rgb(192,192,192);
  color:black;
  padding:0 30px;
}

.header-left a:hover {
  opacity:0.5;
}

.top-wrapper {
  height:700px;
  width:1300px;
  margin:0 auto;
  background-image:url(/image/numazu.gif);
  background-size:cover;
  z-index:0;
  padding-top:60px;
}

.top-logo h1 {
  color:white;
  font-size:48px;
  text-align:center;
  letter-spacing:5px;
  z-index:1;
  font-weight:normal;
  opacity:0.7;
}

.hello {
  padding-bottom:430px;
}

.main-wrapper {
  padding-top:30px;
  width:1300px;
  margin:0 auto;
  height:900px;
  background-image:url(/image/leaf.jpg);
  background-size:cover;
  z-index:0;
}

.main-wrapper h1 {
  color:white;
  font-weight:normal;
}

.main-sentence {
  height:820px;
  width:80%;
  margin:0 auto;
  padding-top:20px;
  padding-bottom:40px;
  padding-left:90px;
}

.main-sentence p {
  writing-mode:vertical-rl;
  -ms-writing-mode:tb-rl;
  color:white;
  font-size:30px;
  opacity:0.7;
  padding-left:40px;
  float:right;
  z-index:1;
}

.sub1-wrapper {
  padding-top:100px;
  width:1300px;
  height:1000px;
  margin:0 auto;
  background-image:url(/image/crescent.jpg);
  background-size:cover;
}

.sub1-wrapper h1 {
  color:rgba(255,255,255,0.8);
  text-align:center;
  font-size:70px;
  padding-bottom:5px;
  letter-spacing:2px;
  background-color:rgba(0,0,10,0.3);
}

.box-wrapper {
  width:1000px;
  height:500px;
  margin:0 auto;
  background-color:rgba(192,192,192,0.5);
}

.box {
  height:480px;
  width:480px;
  padding-top:70px;
  margin:0 auto;
}


.box li {
  list-style:none;
  font-size:40px;
  padding-bottom:10px;
  letter-spacing:2px;
  opacity:0.8;
}

.box span {
  color:blue;
}

.sub2-wrapper {
  width:1300px;
  height:400px;
  margin:0 auto;
  background-image:url(/image/hinode.jpg);
  background-size:cover;
  padding-top:50px;
  z-index:0;
}

.twitter-wrapper {
  width:280px;
  height:300px;
  background-color:rgba(255,255,255,0.6);
  border-radius:20px;
  z-index:1;
  float:left;
  margin:0 20px;
  padding-top:50px;
}

.Insta-wrapper {
  width:280px;
  height:300px;
  background-color:rgba(255,255,255,0.6);
  border-radius:20px;
  z-index:1;
  float:left;
  margin:0 20px;
  padding-top:50px;
}

.youtube-wrapper {
  width:280px;
  height:300px;
  background-color:rgba(255,255,255,0.6);
  border-radius:20px;
  z-index:1;
  float:left;
  margin:0 20px;
  padding-top:50px;
}

.sub2-wrapper p {
  text-align:center;
  font-size:32px;
  padding-top:60px;
  opacity:0.8;
}

.fa {
  padding-left:100px;
  cursor:pointer;
  text-decoration: none;
}

.fa:hover {
  opacity:0.5;
}

.my-skyblue {
  color:skyblue;
}

.my-red {
  color:red;
}

.my-pink {
  color:pink;
}
