html,body{
  width:100%;
  padding:0;
  margin:0;
  background-image: url(https://i.ytimg.com/vi/cpRCGSAGDT4/maxresdefault.jpg);
  background-size: cover;
}

header {
  width:80%;
  height:110px;
  margin:3em auto;
}

.top-bx {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height:70px;
}

.top-item {
  height:100%;
  width:30px;
  background-color: red;
  border:1px solid rgba(160,170,170,0.6)
}

.top-item:nth-child(2n) {
  background-color: white;
}

.middle-bx {
  height:25px;
  max-width:150px;
  margin: 0 auto;
  background-color:rgba(0,15,110,0.7);
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}


.middle-item {
  color:white;
}

.middle-item:hover {
  color:gold;
}

.center {
  line-height: 25px;
  font-size: 25px;
}

.bottom-item {
  max-width:220px;
  height:25px;
  background-color: silver;
  opacity:0.7;
  margin: 0 auto;
  border-radius: 25px;
}

.bottom-item:hover {
  border-radius: 5% 5% 50% 50%;
}

.main-container {
  padding:30px 10px;
  height:340px;
  width:390px;
  margin:0 auto;
  border:1px solid silver;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: red;
  justify-content: space-around;
  border-radius: 20px 20px 0 0;
}

.reel {
  height:100%;
  width:110px;
  border:1px solid gray;
  background-color: rgb(240,255,255);
}

.seven-img {
  display: none;
  width:100px;
  margin:0 auto;
  margin-top:70px;
  height:90px;
  object-fit: cover;
}

.black-bar {
  width:90%;
  height:20px;
  background-color: black;
  color:red;
  margin: 0 auto;
  margin-top: 95px;
  text-align:center;
  letter-spacing: 10px;
  font-weight: bold;
  border-radius: 25px;
}

.bar1,.bar2 {
  display: none;
}

.black-bar:nth-child(2) {
  margin-top: 2px;
}

.sub-container {
  padding:10px;
  height:120px;
  width:390px;
  margin:0 auto;
  border:1px solid silver;
  border-radius:0 0 20px 20px;
  background-color: skyblue;
}

.peka-zone {
  display: block;
  width:100px;
  height:100px;
  border-radius: 50%;
  background-color: black;
  margin:0 auto;
  position: relative;
}

.gogo-ranp {
  display: none;
  width:70px;
  height:70px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

footer {
  height:120px;
  width:390px;
  background-color: silver;
  margin: 2em auto;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.btn {
  margin-top:10px;
  width:100px;
  height:100px;
  border-radius: 50%;
  background-color: silver;
  border: double 8px white;
  box-shadow: 0 0 8px black;
}

.btn:active{
  box-shadow: none;
}

.btn > p {
  text-align: center;
  padding-top: 1em;
  font-weight: bold;
  color:yellow;
  cursor: pointer;
}
