* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

.top-wrapper {
  height:250px;
  width:1500px;
  padding:100px 0;
  text-align:center;
  
}

.main-wrapper {
  padding:100px 0;
  height:400px;
  width:1500px;
  text-align:center;
}

.down-wrapper {
  padding:100px 0;
  height:200px;
  width:1500px;
  text-align:center;
}

.container {
  width:80%;
  margin:0 auto;
}

.container p {
  padding-top:10px 0;
  color:blue;
  font-size:24px;
}

.container h1 {
  font-size:32px;
}

.top {
 border-top:2px solid black;
 border-bottom:2px solid black;
}
.main-left {
  float:left;
  font-size:14px;
}

.main-center img {
  height:200px;
  width:650px;
}

.main-right {
  float:right;
}

.down-left {
 float:left; 
}
.down-left ul {
  list-style:none;
  background-color:green;
  padding-left:100px;
}

.down-center h2 {
  color:blue;
  font-size:32px;
}

.down-center h3 {
  color:orange;
  font-size:26px;
  margin-left:100px;
  font-weight:normal;
}














 
