* {
  box-sizing: border-box;
}

html,body {
  width:100%;
  font-size:20px;
  padding:0;
  margin:0;
  font-family:"Times New Roman";
  color:gray;
}

header {
  height:7rem;
  padding-left: 1rem;
}


.title {
  color:black;
  transition: 1s;
}

.logo img {
  width:100%;
  height:15rem;
  object-fit: cover;
  z-index: 0;
}

.logo .explain {
  font-size: 1.5rem;
  width:100%;
  padding:2rem 1rem;
  text-align: center;
}

.content-wrap,.profile-wrap{
  margin:auto;
  width:90%;
}

.content-wrap > .content:not(:first-child) {
  margin-top:7rem;
}

.content > .date {
  font-size: 0.6rem;
}

.content > .sentence {
  margin-top: 2rem;
}

.content > .title:hover {
  color:orange;
  font-size:1.2rem;
}

.btnwrap {
  margin: 5rem 0 10rem 0;
  width:100%;
}

.btnwrap > .nextBtn {
  color:black;
  padding:1rem;
  border: 1px solid gray;
  text-decoration: none;
  font-size:0.6rem;
}

.nextBtn:hover {
  color:blue;
  background-color: silver;
  font-weight: bold;
}

.profile {
  width:100%;
  border-top:1px solid silver;
  padding-top:3rem;
  padding-bottom:3rem;
}

.profile > img {
  width:30%;
  height:6rem;
  border-radius: 100%;
  float:left;
  margin-right: 4rem;
  object-fit: cover;
}

.profile > .name {
  line-height: 3rem;
}

.prof-examnwrap > p {
  font-size: 0.8rem;
  color:black;
}

p > span {
  color:red;
  font-weight:bold;
}

.search-wrap {
  margin-top:4rem;
}

.search-wrap > input {
  width:15rem;
  border-radius: 1rem;
  padding:0.5rem;
  margin-bottom:6rem;
}

.search-wrap > input:focus{
  outline:none;
}

footer {
  height:10rem;
  width:70%;
  margin: 0 auto;
  padding-top: 3rem;
  padding-left:9rem;
  margin-bottom:2rem;
  border-top:1px solid gray;
  border-bottom: 1px solid gray;
}

.my-skyblue {
  color:skyblue;
}

.my-pink {
  color:pink;
}

.fab:hover {
  opacity:0.7;
}

