* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

.top-wrapper {
  height:400px;
  width:1200px;
  border-top:3px solid #ff0000;
  border-bottom:3px solid #ff0000;
}

.main-wrapper {
  height:400px;
  width:1200px;
}

.down-wrapper {
  height:200px;
  width:1200px;
}

.container {
  width:80%;
  margin:0 auto;
}

.container p {
  color:blue;
}

.main-left {
  float:left;
  font-size:14px;
}

.main-right {
  float:right;
}

.down-left {
  float:left;
}

.down-left li {
  list-style:none;
  background-color:green;
  padding-right:10px;
}

.down-center h2 {
  color:blue;
  font-size:32px;
}

.down-center h3 {
  color:orange;
  font-size:26px;
}












 
