* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

.top-wrapper {
  padding-left:200px;
  height:250px;
  width:1400px;
}

.main-wrapper {
  padding-left:200px;
  height:400px;
  width:1400px;
}

.down-wrapper {
  padding-left:200px;
  height:200px;
  width:1400px;
}

.container {
  width:80%;
  margin:0 auto;
}

.top {
  border-top:3px solid #ff0000;
  border-bottom:3px solid #ff0000;
}

.container p {
  padding-top:20px;
  color:blue;
  font-size:24px;
  text-align:center;
}

.container h1 {
  font-size:32px;
  text-align:center;
}

.main-left {
  float:left;
  font-size:14px;
}

.main-right {
  float:right;
}

.down-left {
  float:left;
}

.down-left li {
  list-style:none;
  background-color:green;
  margin-right:20px;
}

.down-center h2 {
  color:blue;
  font-size:32px;
}

.down-center h3 {
  color:orange;
  font-size:26px;
  margin-left:100px;
}














 
